extends ./_layout

block content
  header
    .container
      h1.title #[a(href= url) #{title}]
      h5.version #{version} 
      p.under-title #[b #{title}] is minimal RESTful API for #[a(href="https://github.com/bwilcox-1234/ChatScript/", target="_blank") ChatScript]. For more details, checkout the project on #[a(href="http://github.com/kuzyn/", target="_blank") github]
  
  #server-api
    .container
      h4 API
      p There is few endpoints available by default:
      p #[a(href="#{url}/api/message") #{url}/api/message #[b POST]]
      p #[a(href="#{url}/api/bot/reset") #{url}/api/bot/reset #[b POST]]
  
  #server-console
    .container
      h4 Console
      form(id="new-message", class="form-group")
        input(id="form-message", class="form-control" type="text", placeholder="message", autocomplete="off")
        button(id="#reset", type="submit", class="btn btn-default" url="/api/bot/reset") reset
        button(id="#send-message", type="submit", class="btn btn-default" url="/api/message") post
        

  #messages-list
    .container
      p#user-message
      p#chatbot-message
  
  footer
    .container
      a(href="http://samuelcousin.com") made with a transient ❤
    script(defer, rel='script/text', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(defer, rel='script/text', src='js/client.js')
